* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
    position: fixed;

    margin: 0;
    padding: 0;
    font-family: monospace;

    background-color: hsl(0, 0%, 96%);
}

#app {
    position: fixed;

    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;


    background-color: hsl(0, 0%, 96%);
}

#mainContainer {
    position: relative;

    height: 100%;

    display: flex;
    justify-content: space-around;
}

.Column {
    position: relative;

    display: flex;
    flex-direction: column;

    /*flex: 1 1 0;*/
}

#left {
    width: 56%;
}

#right {
    width: 44%;
}

.Row {
    display: flex;
}

#runToolBar {
    padding: 8pt;

    border-left: 1px solid hsl(0, 0%, 86%);
}

.Button {
    border: none;
    -webkit-border-radius: 5pt;
    -moz-border-radius: 5pt;
    border-radius: 5pt;
    outline: none;

    font-family: monospace;

    cursor: pointer;

    font-size: large;
    text-align: center;
}

#runButton {
    padding: 7pt 16pt;

    background-color: hsl(122, 50%, 50%);
    color: white;
}

#runButton:hover {
    background-color: hsl(122, 50%, 55%);
}

#runButton:active {
    background-color: hsl(122, 50%, 45%);
}

#runButton:disabled {
    background-color: hsl(122, 0%, 70%);
    cursor: not-allowed;
}

#console {
    flex: 1 1 0;

    background-color: rgb(240, 240, 240);

    border-left: 1px solid hsl(0, 0%, 86%);
    border-top: 1px solid hsl(0, 0%, 86%);
    border-bottom: 1px solid hsl(0, 0%, 86%);

    display: flex;
    flex-direction: column;

    font-family: monospace;
    font-size: large;
    text-align: left;
}

#consoleHeader {
    /*height: 50pt;*/
    /*position: relative;*/
    
    /*flex: 0 0 auto;*/

    padding: 10pt 6pt 2pt;

    border-bottom: 1px solid hsl(0, 0%, 86%);
}

#clearButton {
    position:relative;
    top: -5pt;
    /*margin: auto;*/

    padding: 3pt 8pt;
    font-size: small;
    float: right;
    /*background-color: gray;*/
}

#consoleBody {
    flex: 1 1 0;

    overflow-x: auto;
    overflow-y: auto;

    padding-bottom: 6pt;
}

.ConsoleOutput {
    padding: 2pt 4pt;

    word-wrap: break-word;
    /*display: flex;*/
}

.ConsoleOutOutput {
    word-wrap: break-word;
}
