* {
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
    position: fixed;

    margin: 0;
    padding: 0;
    font-family: monospace;

    background-color: hsl(0, 0%, 96%);
}

#app {
    position: fixed;

    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;


    background-color: hsl(0, 0%, 96%);
}

#mainContainer {
    position: relative;

    height: 100%;

    display: flex;
    justify-content: space-around;
}

.Column {
    position: relative;

    width: 50%;

    display: flex;
    flex-direction: column;

    flex: 1 1 0;
}

#runToolBar {
    padding: 8pt;

    border-left: 1px solid hsl(0, 0%, 86%);
}

#runButton {
    right: 0;

    padding: 7pt 16pt;

    border: none;
    -webkit-border-radius: 5pt;
    -moz-border-radius: 5pt;
    border-radius: 5pt;
    outline: none;

    background-color: hsl(122, 50%, 50%);
    color: white;

    font-size: large;
    text-align: center;

    cursor: pointer;
}

#runButton:hover {
    background-color: hsl(122, 50%, 55%);
}

#runButton:active {
    background-color: hsl(122, 50%, 45%);
}

#console {
    box-sizing: border-box;
    padding: 10px;

    flex: 1 1 0;

    background-color: rgb(240, 240, 240);

    border-left: 1px solid gray;
    border-top: 1px solid gray;

    font-family: monospace;
    font-size: large;
    text-align: left;
}
